@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/fonts/PlusJakartaSans-Regular.ttf);
}

body{
    font-family: Plus_Jakarta_Sans;
    margin: 0;
}

/* Header part start*/

header{
    background-color: #20484F;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.nav_items li{
    
    font-size: 16px;
    display: inline-block;
    padding: 0px 15px;
    
}

.nav_items li a{
    font-family: Plus_Jakarta_Sans;
    font-style: normal;
    font-weight: normal;
    color: white;
    transition: all .3s ease 0s;
    text-decoration: none;
}
.nav_items li a:hover{
    color: #667292;
}

/* .nav_buttons{ 
    font-family: Plus_Jakarta_Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
} */

.nav_buttons a{
    font-family: Plus_Jakarta_Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    
}

.nav_buttons a:hover{
    background: #B8E4DA;
    border-radius: 8px;
    color: #20484F;
}

/* Header part end*/

.hero_section{
    background-color: #FAFAFA;
    
}
.hero_div{
    background-image: url('img/designs/hero_left.svg');
    background-repeat: no-repeat;
    background-position: right;
    
}
.hero_p1{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #20484F;
}
.hero_p2{
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    color: #072125;
}
.hero_p3{
    font-size: 24px;
    color: #072125;
}

.hero_bt a{
    
    font-size: 14px;
    font-style: normal;
    padding: 15px 25px;
   
}

.hero_bt1{
    background: #20484F;
    border-radius: 8px;
    color: white;
}
.hero_bt2{
    background: white;
    border-radius: 8px;
    color: #072125;
}
.hero_left_img{
    position: absolute;   
}

.hero_right img{
    margin: 40px;
    width: 405px;
    height: 486px;
}

.task-card{
    background-color: rgb(204, 55, 55);
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;    
}