:root{
    --color-primary: #20484F;
    --color-secondary: #B8E4DA;
    --color-bg: #FAFAFA;
    --color-primary-dark: #072125;
    --font--size--btn: 18px;
}
@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/fonts/PlusJakartaSans-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Plus_Jakarta_Sans;
}

/* Header part start*/

.header{
    background-color: var(--color-primary);
    margin: auto;
    padding: 10px;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.nav__header a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

.nav__toogle {
    font-size: 32px;
    color: white;
    background: transparent;
    border: transparent;
    padding-right: 20px;
}

.nav__links li{
    list-style: none;
    margin: 15px 0;
    border-bottom: 2px solid white;
    width: 80px;
}

.nav__links li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.nav__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
}

.nav__buttons a{
    font-size: 14px;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    
}
.nav__buttons__signup{
    background-color: var(--color-secondary);
    border-radius: 8px;
    color: var(--color-primary)!important;
    height: fit-content;
}

.nav__items{
    height: 0;
    overflow: hidden;
}

.nav__items__open{
    height: fit-content;
    padding-left: 5px;
}
.nav__buttons{
    height: 0;
    overflow: hidden;
}
.nav__buttons__open{
    overflow: visible;
    height: 50px;
}


/* Hero Section Mobile */

.hero__section{
    background-color: var(--color-bg);
    padding-top: 57px;
}
.hero__container{
    display: flex;
    flex-direction: column;
}
.hero__text__btns{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: left;
    padding: 15px;
    background-image: url('./img/bg/hero-left-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.hero__text1{
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);
}
.hero__text2{
    font-size: 64px;
    font-weight: bold;
    color: var(--color-primary-dark);
}
.hero__text3{
    font-size: 24px;
    color: var(--color-primary-dark);
}
.hero__btns{
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.hero__btns a{
    font-size: var(--font--size--btn);
    text-decoration: none;
    padding: 16px 36px 15px;
    color: white;
    background-color: var(--color-primary);
    border-radius: 8px;
}
.hero__btn2{
    background-color: white!important;
    color: var(--color-primary-dark)!important;
}
.hero__image{
    padding: 15px;
    display: block;
    justify-content: center;
}
.hero__img__bg{
    position: absolute;
    padding: 20px;
}
.hero__img_face{
    padding: 50px;
    background-image: url(./img/bg/hero-right-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__card1__container{
    top: -518px;
    left: 208px;
    border-radius: 12px;
    display: inline-block;
    background-color: white;
    position: relative;
}
.hero__card1{
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 15px;
    
}
.hero__card1 img{
    padding: 4px;
    border: 3px solid #B8E4DA;
    border-radius: 50px;
}
.hero__card1__text{
    padding: 10px;
}

.hero__card1__h4{
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary-dark);
}
.hero__card1__p{
    font-size: 16px;
    color: #20484F;
}

.hero__card2__container{
    top: -284px;
    left: 16px;
    border-radius: 12px;
    display: inline-block;
    background-color: white;
    position: relative;
}
.hero__card2{
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 15px;
    
}
.hero__card2__icon{
    font-family: 'Font Awesome 6 Free';
    color: var(--color-primary-dark);
    background-color: var(--color-secondary);
    padding: 15px;
    border-radius: 50px;
    height: fit-content;
}
.hero__card2__dummy1{
    width: 273px;
    height: 11px;
    background: rgba(32, 72, 79, 0.1);
    border-radius: 12px;
}
.hero__card2__dummy2{
    width: 182px;
    height: 11px;
    background: rgba(32, 72, 79, 0.1);
    border-radius: 12px;
}
.hero__card2__dummy3{
    width: 110px;
    height: 37px;
    background: var(--color-secondary);
    border-radius: 8px;
}

.hero__card2__body{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Hero Section Mobile  end*/

/* Social Proof start */
.social__proof__container{
    background-color: #FAFAFA;
}
.social__proof__container p{
    font-size: 24px;
    color: var(--color-primary-dark);
   text-align: center;
   padding: 4px;
}
.social__proof__container p span{
    font-weight: bold;
}
.social__proof__logos{
    padding: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
}
/* Social Proof end */

/* Feature start */
.feature__container{
    position: relative;
    background-color: #FAFAFA;
}
.feature__info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}
.feature__blocks{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.feature__txt h3{
    font-size: 32px;
    color: var(--color-primary-dark);
    padding: 20px 0;
}
.feature__txt p{
    font-size: 18px;
    color: var(--color-primary-dark);
}
.feature__block h5{
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary-dark);
    padding: 6px 0;
}
.feature__block p{
    font-size: 16px;
    color: var(--color-primary-dark);
    padding: 6px 0;
}
.feature__block i{
    font-family: 'Font Awesome 6 Free';
    color: var(--color-primary-dark);
    padding: 15px;
    background: #DCF2ED;
    border-radius: 12px;
}
.feature__image{
    position: relative;
}
.feature__image img{
    display: block;
    margin: auto;
}
.feature__image__card1{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 20px;
    z-index: 1;
    bottom: 140px;
    left: 16px;
    background-color: white;
    border-radius: 12px;

}
.feature__image__card2{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 20px;
    z-index: 1;
    top: 32px;
    right: 2px;
    background-color: var(--color-primary);
    border-radius: 12px;
}
.card2__heading{
    color: white;
}
.feature__image__card__body{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.feature__image__card1__icon{
    font-family: 'Font Awesome 6 Free';
    color: var(--color-primary-dark);
    background-color: var(--color-secondary);
    padding: 15px;
    border-radius: 50px;
    height: fit-content;
}
.feature__image__card2__icon{
    font-family: 'Font Awesome 6 Free';
    color: var(--color-primary-dark);
    background-color: var(--color-secondary);
    padding: 15px;
    border-radius: 50px;
    font-size: 13px;
    height: fit-content;
}
.feature__image__card__dummy1{
    width: 193px;
    height: 11px;
    background: rgba(32, 72, 79, 0.1);
    border-radius: 12px;
}
.feature__image__card__dummy2{
    width: 150px;
    height: 11px;
    background: rgba(32, 72, 79, 0.1);
    border-radius: 12px;
}
.feature__image__card2__dummy1{
    width: 140px;
    height: 8px;
    background: var(--color-secondary);
    border-radius: 12px;
}
.feature__image__card2__dummy2{
    width: 122px;
    height: 8px;
    background: var(--color-secondary);
    border-radius: 12px;
}

/* Feature end */

/* For Screen Size greater than Tablets */

@media only screen and (min-width: 900px){
    
    /* Header part */

    .nav__toogle{
        display:none;
    }
    .nav{
        flex-direction: row;
        justify-content: space-between;
       
    }
    .nav__items{
        height: fit-content;
        padding-left: 5px;
    }
    .nav__buttons{
        overflow: visible;
        height: 50px;
    }
    .nav__header{
        display: block;
        padding-top: 10px;
        padding-left: 25px;
    }
    .nav__links{
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
    }

    .nav__links li{
        border-bottom: none;
    }
    
    .nav__items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav__buttons{
        padding-top: 5px;
        padding-right: 20px;
    }
    

    /* Hero Section Larger Device */

    .hero__container{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 750px;
    }
    .hero__text__btns{
        padding-left: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: 369px;
    }
    .hero__image{
        padding-right: 150px;
        display: block;
        padding-top: 148px;
    }
    .hero__card2__container{
        top: -222px;
        left: -365px;
    }
  
     /* Hero Section Larger Device end*/

     /* Social Proof Larger Device start */
    .social__proof__logos{
        grid-template-columns: auto auto auto auto;
        gap: 90px;
    }
    .social__proof__container{
        padding: 100px 0;
    }
     /* Social Proof Larger Device end */


     /* Feature Larger Device start */
    .feature__container{
        padding: 50px 140px;
        display: flex;
        flex-direction: row;
        gap: 400px;
    }
    .feature__image__card1{
        bottom: 100px;
        left: -14px;
    }
     /* Feature Larger Device end */

}
